.sidebar{
    background-color: #0c0a0a;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    z-index: 1000;

}
.logout-div{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.log-out-btn{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    width: 80%;
    margin-top: 40px;
    background-color: #8888f1; /* Red background */
    color: white; /* White text */
    padding: 10px ; /* Padding around text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
}

.log-out-btn:hover {
    background-color: #d32f2f; /* Darker red */
}

/* Active effect */
.log-out-btn:active {
    background-color: #b71c1c; /* Even darker red */
}
.sub-buttons{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 6px;
    font-size: 18px;
    margin-left:9px;
    font-family: "Microsoft Yi Baiti", serif;
}
.elements{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 56px;
    font-weight: 700;
    font-size: 21px;
    margin-top: 10px;
   margin-left: 25px;
    /*text-align: center;*/
    font-family: "Microsoft Yi Baiti", serif;

;

}
.logoDiv{
    display: flex;
justify-content: start;
    margin-top: 30px;
    color: white;

}
.logODiv{
    display: flex;
    justify-content: start;
    margin-top: 30px;
    color: white;
    font-size: 40px;
}
.Voyago{
    font-size: 22px;
    margin-top: 5px;
}
body{
    background-color: #ffffff;
}
.gallery{
    /*margin-bottom: 10px;*/
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 56px;
    font-weight: 700;
    font-size: 21px;
    margin-top: 20px;
    margin-left: 25px;
    /*text-align: center;*/

    font-family: "Microsoft Yi Baiti", serif;
}
a{
    color: white;
}