
body {
    margin: 0;
    font-family: "Arial Unicode MS";
}
.required{

    font-weight: bold;
    font-size: 16px;
}
.requiredd
{
    font-weight: bold;
    font-size: 16px;
}
.personal-info{
    font-size: 14px;
   margin-bottom: 20px;
}
.col-lg-12{
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 70px;
    margin-top: 20px;
    width: 80%;
}


.page-banner {

    border-bottom: none;
    z-index: 1;
    min-height: 54px;

    background-color: rgba(44, 101, 180, .1);
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-title{
    margin-bottom: 40px;
}

.container-1 {
    padding-left: 2px;
    padding-right: -100px;
}

/* Common Box Styles */
.common-box[role=main] {
    padding-bottom: 50px;

}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}


.card {
    width: 100%;
    max-width: 100%;
    height: 120px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    padding-left: 10px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 100%;
    padding: 0 12px;
}

.form-group {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.required::after {
    content: '*';
    color: red;
}

.custom_select select,
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}
.Pname-container {
    margin-top: 100px;
    padding: 22px;
    font-weight: 600;
    background-color: #e1e9f6;

    font-size: 16px;


    /*padding: 5px;*/
    display: flex;
    width: 100%;

    justify-content: start;
    align-items: start;
}

.button-submit {
    text-align: center;
    margin-top: 20px;
}

.standard-form-planTrip{
    display: flex;
    gap: 30px;
    font-size: 20px;
    flex-direction: column;
}

.btn {
    background-color: #2c65b4;
    border-color: #2c65b4;
    color: white;
    transition: all 0.6s linear;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 19px;
    width: 30%;
    height: 50px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

.Personal-info {
    font-size: 21px;
    margin-bottom: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
