.navBar
{z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    /*justify-items: stretch;*/
    width: 100%;
    height: 80px;
    padding: 1.5rem 2rem;
    position: fixed;
    background-color: #a1b7d5;
    /*border-bottom: 1.5px solid rosybrown;*/
    backdrop-filter: blur(5px);
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: ;

}
.search-input{

}

.components{
    display: flex;

    margin-right: 500px;
    font-family: "Microsoft Yi Baiti", serif;
    font-weight: 900;
    gap: 60px;
    font-size: 21px;
    cursor: pointer;



}

/*a{*/
/*    color: black;*/
/*}*/
.destination{
    &:hover{
        color: #010462;
        border-bottom: 1.5px solid #4d3131;

    }
}

.aboutus{
    &:hover{
        color: #010462;
        border-bottom: 1.5px solid #4d3131;

    }
}
.testimonials{
    &:hover{
        color: #010462;
        border-bottom: 1.5px solid #4d3131;

    }
}

.Gallery{
    &:hover{
        color: #010462;
        border-bottom: 1.5px solid #4d3131;

    }
}
.Blog{
    &:hover{
        color: #010462;
        border-bottom: 1.5px solid #4d3131;

    }
}
.search{

    font-size: 26px;
    cursor: pointer;
}
/* Navbar.css */

/* ... (your existing styles) */

.destination {

    cursor: pointer;
    position: absolute;
    margin-left: 370px;
    /*display: flex;*/

}/* Style the scrollbar track */
.dropdown-content::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

/* Style the scrollbar thumb/dragger */
.dropdown-content::-webkit-scrollbar-thumb {
    background-color: #044f83; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Set the radius of the scrollbar thumb */
}

/* Style the scrollbar track when hovered */
.dropdown-content::-webkit-scrollbar-track:hover {
    background-color: #ecf0f1; /* Set the color of the scrollbar track on hover */
}

/* Style the scrollbar thumb when hovered */
.dropdown-content::-webkit-scrollbar-thumb:hover {
    background-color: #2980b9; /* Set the color of the scrollbar thumb on hover */
}

.dropdown-content {

    display: none;
    position: relative;
    max-height: 200px; overflow-y: auto;
    /*top: auto;*/
    margin-top: 26px; /* Adjust this value according to your design preference */
    width: 350px;
    height: 200px;
    /*margin-right: 1000px;*/
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;


}

.destination:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;

    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #ddd;

}

/* Add more styles as needed */

.logoDiv{
    /*margin-top: 24px;*/
    font-size: 20px;


    .Voyago{
        color: #03224d;
        font-size: 21px;
        margin-bottom: 24px;

        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}

.main-icon{
    font-size: 40px;
    cursor: pointer;
    margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
    .components {
        margin-right: 10px; /* Adjust margin for smaller screens */
        gap: 10px; /* Adjust gap for smaller screens */
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    .destination {
        margin-left: 10px; /* Adjust margin for smaller screens */
    }

    .aboutus,
    .testimonials,
    .Gallery,
    .Blog,.destination{
        display: none; /* Hide these components on smaller screens */
    }
}
