.navBar
{z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    /*justify-items: stretch;*/
    width: 100%;
    height: 80px;
    padding: 1.5rem 2rem;
    position: fixed;
    background-color: #a1b7d5;
    /*border-bottom: 1.5px solid rosybrown;*/
    backdrop-filter: blur(5px);
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.components{
    display: flex;

    margin-right: 500px;
    font-family: "Microsoft Yi Baiti", serif;
    font-weight: 900;
    gap: 60px;
    font-size: 21px;
    cursor: pointer;



}

.destination{
    &:hover{
        color: #010462;
        border-bottom: 1.5px solid #4d3131;

    }
}

.aboutus{
    &:hover{
        color: #010462;
        border-bottom: 1.5px solid #4d3131;

    }
}
.testimonials{
    &:hover{
        color: #010462;
        border-bottom: 1.5px solid #4d3131;

    }
}

.Gallery{
    &:hover{
        color: #010462;
        border-bottom: 1.5px solid #4d3131;

    }
}
.Blog{
    &:hover{
        color: #010462;
        border-bottom: 1.5px solid #4d3131;

    }
}
.search{

    font-size: 26px;
    cursor: pointer;
}


.destination {

    cursor: pointer;
    position: absolute;
    margin-left: 370px;
    /*display: flex;*/

}
.dropdown-content::-webkit-scrollbar {
    width: 8px;
}


.dropdown-content::-webkit-scrollbar-thumb {
    background-color: #044f83;
    border-radius: 4px;
}

.dropdown-content::-webkit-scrollbar-track:hover {
    background-color: #ecf0f1;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
    background-color: #2980b9;
}

.dropdown-content {

    display: none;
    position: relative;
    max-height: 200px; overflow-y: auto;
    /*top: auto;*/
    margin-top: 26px;
    width: 350px;
    height: 200px;
    /*margin-right: 1000px;*/
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;


}

.destination:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;

    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #ddd;

}


.logoDiv{
    /*margin-top: 24px;*/
    font-size: 20px;


    .Voyago{
        color: #03224d;
        font-size: 21px;
        margin-bottom: 24px;

        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}

.main-icon{
    font-size: 40px;
    cursor: pointer;
    margin-bottom: 30px;
    color: #061a5d;
}
@media screen and (max-width: 768px) {
    .components {
        margin-right: 10px;
        gap: 10px;
        font-size: 16px;
    }

    .destination {
        margin-left: 10px;
    }

    .aboutus,
    .testimonials,
    .Gallery,
    .Blog,.destination{
        display: none;
    }
}
