.edit-form {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-form label {
    display: block;
    margin-bottom: 8px;
}

.edit-form input,
.edit-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.edit-form button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-form button.cancel {
    background-color: #d9534f;
    margin-left: 10px;
}

.parent {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.table-container {
    flex: 2;
    margin-right: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;

}

th {
    background-color: #f2f2f2;
}

.actions {
    display: flex;
    gap: 10px;
}

.edit-btn{
   background-color: #3540bb;
    /*background-color: #4caf50;*/
    color: white;

    width: 57px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
