
.footer {
    margin-top: 400px;
    background-color: #39455e;
    color: white;
    padding: 20px;

}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.footer h2 {
    color: #e1e1e7;
}
.copyright{
  /*margin-bottom: 10px;*/
}
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #02023f;
}
