
.Home {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.image-container {
    position: relative;
    width: 100%;
    max-width: 1300px;
}



.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.sectionText {
    padding: 20px;
    font-size: 30px;
}
.search-btn-home{
    font-size: 23px;
}

.box {
    margin-top: 20px;
}

.box-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-Input {
    padding: 10px;
    border: 2px solid #6b6a6a;
    border-radius: 5px;

    margin-right: 10px;
    width: 100vh;
    font-weight: bold;
    height: 7vh;
}
.home-Input::placeholder{
    color: #3a3838;

}

.blog-pkg {
    margin-top: 50px;
}

.main-div-package {
    text-align: start;
}

.next-div {
    display: flex;
    flex-wrap: wrap;
margin-bottom: 50px;
    justify-content: center;
}

.name-img-blog {
    margin: 10px;
    max-width: 350px;
    max-height: 330px;
    text-align: start;

}


.blog-name {
    margin-top: 0px;
}

